<section id="contact" class="section padding-v-60 min-fullheight">
  <!-- BG Map -->
  <div id="google-map" class="bg-image" data-latitude="40.758895" data-longitude="-73.985131" data-style="dark"></div>
  <!-- Contact Box -->
  <div class="contact-box bg-black dark animated" data-animation="flipInY">
    <h1>Don’t hesitate to <strong>contact me</strong>!</h1>
    <!-- Contact List -->
    <ul class="list-unstyled list-unstyled-icons">
      <li><i class="inline-icon icon-before-and-after text-primary fa fa-map-marker"></i>1111-A Nowhere Lane,<br />Outta Sight,<br />State 90378, USA</li>
      <li><i class="inline-icon icon-before-and-after text-primary fa fa-comment"></i><a href="#">johnathandoe@suelo.pl</a></li>
      <li><i class="inline-icon icon-before-and-after text-primary fa fa-phone"></i>+0(31)6 89764536</li>
    </ul>
    <a href="#" class="btn btn-primary" data-target="messenger"><span>Use Contact Form</span><i class="ti-email"></i></a>
    <h5 class="margin-t-60">Check my social media!</h5>
    <ul class="list-inline">
      <li><a href="#" class="icon icon-circle icon-xs icon-facebook"><i class="fa fa-facebook"></i></a></li>
      <li><a href="#" class="icon icon-circle icon-xs icon-twitter"><i class="fa fa-twitter"></i></a></li>
      <li><a href="#" class="icon icon-circle icon-xs icon-google-plus"><i class="fa fa-twitter"></i></a></li>
    </ul>
    <h5>Like me on Facebook</h5>
    <!-- FB Like -->
    <div class="fb-like" data-href="http://www.facebook.com/suelopl" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
  </div>
</section>
