<!-- Loader -->
<div id="page-loader" class="bg-white"></div>

<!-- Loader / End -->
<app-nav></app-nav>

<!-- Content -->
<div id="content" class="bg-white">

  <!-- Section - Home -->
  <app-home-head></app-home-head>
  <!-- Section - Home / End -->

  <!-- Section - Resume -->
  <app-resume></app-resume>
  <!-- Section - Resume / End -->

  <!-- Section - Portfolio -->
  <app-portfolio></app-portfolio>
  <!-- Section - Portfolio / End -->

  <!-- Section - Testimonials -->
  <app-recommendations></app-recommendations>
  <!-- Section - Testimonials / End -->

  <!-- Section - Latest Posts -->
  <app-posts></app-posts>
  <!-- Section - Latest Posts / End -->

  <!-- Section - Contact -->
  <app-contact></app-contact>
  <!-- Section - Contact / End -->

</div>
<!-- Content / End -->

<!-- Messenger -->
<app-message></app-message>

<!-- Mobile Navigation -->
<app-mobile-nav></app-mobile-nav>
<!-- Ajax Wrapper & Loader -->
<div id="ajax-modal"></div>
<div id="ajax-loader"><i class="fa fa-spinner fa-spin"></i></div>

<!-- FB Like -->
<div id="fb-root"></div>
