<section id="start" class="section fullheight bg-secondary dark padding-v-60">
  <!-- BG Image -->
  <div class="bg-image animated infinite zooming"><img src="assets/img/photos/manager-bg01.jpg" alt="..."></div>
  <!-- Top -->
  <div class="container container-wide text-md">
    <i class="icon-before fa fa-comments text-primary"></i>Have you got any questions? Write to me at <a href="#" class="text-primary">hello@suelo.pl</a>
  </div>
  <!-- Middle -->
  <div class="container container-wide v-center padding-v-80">
    <h1 class="text-lg margin-b-0">Hi! I’m <strong>Kim Parker</strong></h1>
    <h5 class="text-muted margin-b-40">experienced account manger</h5>
    <span data-target="local-scroll"><a href="#resume" class="btn btn-lg btn-primary"><span>Go to my resume!</span><i class="ti-arrow-down"></i></a></span>
    <a href="#" class="btn btn-link"><span>Download my CV</span><i class="ti-file"></i></a>
  </div>
</section>
